

.parentDiv {
    min-height: 100vh;  /* 100% of the view port height */
    flex-direction: column; /* footer stuff */
    font-family: 'Inter', sans-serif;
}

/* header begin */ 

.headWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.Logo {
    margin: 30px; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

.flexR {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    float: right;
}

/* header end */

.flexContainerVid {
    display: flex;
    flex-flow:row wrap; 
    justify-content: center;
}

/* navbar begin */ 

.flexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px 30px 0px 0px;
    /* border: 3px solid purple; */
}

.styleNav {
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: #018AE4;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px;
    /* border: 3px solid orange; */
}
    
.styleNav:hover {
    background-color: #27a9ff;
    transform: translateY(-2px);
}
    
.styleNav:active {
    color: rgb(215, 215, 215);
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.searchBox {
    padding: 10px 10px 10px 10px;
    border: 1px solid black; 
    border-radius: 5px; 
    margin: 15px;
}

.searchBox:focus {
    border: 2px solid rgb(1,1,1);
}

.profAv {
    display: inline-block;
    border: 2px solid rgb(19, 241, 248);
}

/* navbar end */

.styleCourseNav {
    padding: 10px 10px 10px 10px; 
    color: white; 
    background-color: rgb(210, 121, 255);
    border: 1px solid black; 
    text-decoration: none; 
    border-radius: 5px; 
    margin: 15px; 
}

.styleCourseNav:hover {
    background-color: rgb(219, 147, 255);
}

.styleCourseNav:active {
    color: rgb(215, 215, 215); 
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.centerText {
    text-align: center;
}

.moveRight {
    position: relative;
    left: 85%;
}

.centerVandH {
    vertical-align: bottom;
    text-align: center;
    padding: 170px 0;
}

.inlineContainer {
    display: inline-block;
    line-height: 1;
}

.inlineContainerSumm {
    display: inline-block;
    margin: 10px 0px 5px 39px;
}

/* Form styling */ 

.formDivS {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: auto;
}

.formDivL {
    display: flex;
    justify-content: center;
    height: auto;
}

.formClass {
    background-color: white;
    border: 2px solid rgb(169, 216, 222);
    width: 400px;
    border-radius: 8px; 
    padding: 10px 38px 40px 38px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

@media screen and (max-width: 450px) {
    .formClass {
        width: 60%
    }
}

.formClass:hover {
    transform:translateY(-2px);
}

.formHeader {
    font-size: 35px; 
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 30px 0px;
}

.signupPar {
    margin: 0px 0px 10px 0px;
}

.signupParT {
    margin: 0px 0px 10px 0px;
    display: inline-block;
    background:rgb(243, 174, 174);
    /* border: 1px solid blue; */
    padding: 5px 7px 5px 7px;
    border-radius: 7px;
}

.inputDiv {
    position: relative; 
    height: 45px; 
    width: 90%; 
    margin-bottom: 17px;
}

.inputBox {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    height: 100%;
    width: 100%; 
    border: 1px solid #DADCE0; 
    border-radius: 7px; 
    font-size: 16px; 
    padding: 0px 10px 0px 20px; 
    outline: none; 
    background: none; 
    z-index: 1; 
    font-family: system-ui;
}

.inputBox::placeholder {
    color: transparent;
}

.labelBox {
    position: absolute; 
    top: 15px; 
    left: 15px; 
    padding: 0 4px; 
    background-color: white; 
    color: rgb(207, 156, 207); 
    font-size: 16px; 
    transition: margin-right 0.5s;
    z-index: 0;
}

.greenButtonAuth {
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: #04b14c;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.greenButtonAuth:hover {
    background-color: #04c755;
    transform: translateY(-2px);
}

.greenButtonAuth:active {
    color: rgb(220, 220, 220);
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.greenButtonCont {
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: #04b14c;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.greenButtonCont:hover {
    background-color: #04c755;
    transform: translateY(-2px);
}

.greenButtonCont:active {
    color: rgb(220, 220, 220);
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.inputBox:focus + .labelBox {
    top: -7px; 
    left: 3px; 
    z-index: 10; 
    font-size: 14px; 
    font-weight: 600; 
    color: rgb(167, 84, 167);
}

.inputBox:focus {
    border: 2px solid rgb(18, 206, 231);
}

.inputBox:not(:placeholder-shown)+ .labelBox {
    top: -7px; 
    left: 3px; 
    z-index: 10; 
    font-size: 14px; 
    font-weight: 600;
}

/* End form styling */

.generalLinkIntr {
    padding: 10px 10px 10px 10px;
    color: #000000;
    background-color: #09D4CD;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0px 10px 64px;
}

.generalLinkIntr:hover {
    background-color: #1bf5ee;
}

.generalLinkIntr:active {
    color: rgb(90, 90, 90);
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.generalLink {
    padding: 10px 10px 10px 10px;
    color: #000000;
    background-color: #09D4CD;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0px 10px 20px;
}

.generalLink:hover {
    background-color: #1bf5ee;
}

.generalLink:active {
    color: rgb(90, 90, 90);
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.numberLink {
    display: inline-block;
    margin: 0px 0px 0px 30px;
    color: rgb(255, 123, 0);
    font-size: 25px;
    font-weight: 600;
}

.generalLinkSumm {
    padding: 10px 10px 10px 10px;
    color: #000000;
    background-color: #09D4CD;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0px 10px 30px;
}

.generalLinkSumm:hover {
    background-color: #1bf5ee;
}

.generalLinkSumm:active {
    color: rgb(90, 90, 90);
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.testLink {
    padding: 10px 10px 10px 10px; 
    color: #000000; 
    background-color: #ffcf76;
    border: 2px solid black; 
    text-decoration: none; 
    border-radius: 5px; 
    display: inline-block; 
    margin: 10px 10px 10px 30px;
}

.testLink:hover {
    background-color: #ffd890;
}

.testLink:active {
    color: rgb(90, 90, 90); 
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.sampleLink {
    padding: 10px 10px 10px 10px;
    color: #000000;
    background-color: #e2e205da;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0px 10px 7px;
}

.sampleLink:hover {
    background-color: #f2f21e;
}

.backtoLink {
    padding: 10px 10px 10px 10px;
    color: #000000;
    background-color: #09d47f;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 0px 0px 30px;
}

.backtoLink:hover {
    background-color: #1bf59a;
}

.backtoLink:active {
    color: rgb(90, 90, 90);
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.equationBox {
    display: flex; 
    flex-flow: row wrap;
    border: solid 2px #09D4CD;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(92, 99, 105, 0.8);
    padding: 5px 5px 5px 5px;
    margin: 0px 30px 0px 30px;
}

.equation {
    display: flex; 
}

.equationNumber {
    padding: 0px 0px 0px 40px; 
}

.h3num {
    display: inline-block;
    color: rgb(6, 154, 6);
}

.h3text {
    display: inline-block;
    padding: 15px 0px 15px 15px; 
}

.markExercise {
    background-color: rgb(252, 255, 161);
    text-decoration: none;
}

.markQuiz {
    background-color: rgb(255, 230, 141);
    text-decoration: none;
}

.scroll {
    height: 600px;
    width: 800px;
    overflow: auto;
    border: 1px solid #aaa;
    background-color: #eee;
    padding: 8px;
    margin-left:auto;
    margin-right:auto;
}

.centerInADiv {
    justify-content: center;
    text-align: center;
}

.messageBox {
    height: 70px;
    width: 450px;
    top: 0%;
    right: 0%;
    z-index: 10;
    border-radius: 7px;
    margin: 10px 30px 0px 30px;
}

@media screen and (max-width: 450px) {

    .messageBox {
        width: 80%;
    }
}

.inputOnLeft {
    margin: 0px 0px 0px 30px;
}

.helpButton {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 5px; 
    margin: 20px 0px 1px 30px;
    cursor: pointer;
}

.helpButton:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.helpButtonHeader {
    padding: 20px 0px 0px 30px;
}

.iframe { 
    width: 100%;
    display: flex;
    justify-content: center;
    border: 0px;
    width: 640px;
    height: 360px;
}

.containBulletList {
    text-align: center;
}

.styleBullets {
    display: inline-block;
    text-align: left;
}

.ulList {
    list-style-position: inside;
}

.edHeaderSpace {
    margin-top: 2cm;
}

.h2SectionColor {
    display: inline-block; 
    padding: 7px 7px 7px 7px;
    margin: 0px 15px 0px 15px;
    background-color: rgb(137, 222, 253);
    border-radius: 8px;
}

.highlightText {
    background-color: rgb(252, 255, 161);
    padding: 5px;
}

.learngoalHeading {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 15px;
    background-color: rgb(255, 230, 141);  
    border-radius: 8px;
}

.summaryHeading {
    display: inline-block; 
    padding: 7px 7px 7px 7px;
    margin: 0px 0px 0px 15px;
    background-color: rgb(137, 222, 253);
    border-radius: 8px;
}

.exerciseHeading {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 15px;
    background-color: rgb(252, 255, 161);  
    border-radius: 8px;
}

.quizHeading {
    display: inline-block;
    padding: 10px 10px 10px 10px; 
    margin: 0px 0px 0px 15px; 
    background-color: rgb(255, 230, 141);
    border-radius: 8px;
}

.apText {
    color: black;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.apText:hover {
   
    text-decoration: underline;
}

.exerciseOl {
    padding: 0px 30px 0px 40px;
}

.small {
    font-size: small;
}

.footerDiv {
    background-color:blueviolet;
    text-align: center;
    margin-top: auto;
    padding: 40px;
    margin: 0;
}

.linkFooter {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
}

.linkFooter:hover {
    text-decoration: underline;
}

.linkFooter:active {
    color: rgb(214, 214, 214);
}

.dropdownContainer {
    position: relative; 
    display: inline-block;
}

.dropdownButton, .dropdownButtonDiv {
    padding: 0;
    width: 100px; 
    background-color: #8A2BE2;
    border: none;
    color: white; 
    cursor: pointer; 
    font-family: 'Inter', sans-serif;
}

.dropdownButton:hover {
    text-decoration: underline;
}

.dropdownUl {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.dropdownLi {
    padding: 8px 12px; 
    text-decoration: none;
    color: white;
}

.dropdownLi:hover {
    background-color: rgb(0, 0, 0, 0.14);
    text-decoration: none;
}

.noUnder {
    text-decoration: none;
}

.noUnder:hover {
    text-decoration: underline;
}

.footerGenCountry {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: rgb(195, 195, 195);
}

.footerGenCountry p {
    margin: 0px 0px 10px 10px;
    padding: 0px 0px 10px 0px;
}

.footerSpecCountry {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: white;
}

.footerSpecCountry p {
    margin: 0px 0px 10px 10px;
    padding: 0px 0px 10px 0px;
}

.footerSpecCountry p:hover {
    text-decoration: underline;
}

.footerFlag {
    display: inline-block;
}

.footerInline p {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 10px;
}

.footerInline:hover {
    text-decoration: underline;
}

.copyright {
    text-decoration: none;
    color: rgb(195, 195, 195);
    font-family: 'Inter', sans-serif;
}
