.parentDiv {
    min-height: 100vh;  /* 100% of the view port height */
    flex-direction: column; /* footer stuff */
    font-family: 'Inter', sans-serif;
}

.Logo {
    margin: 30px; 
    font-family: 'Poppins', sans-serif;
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px 30px 0px 0px;
    /* padding: 0px 30px 0px 0px; */
}

.flexContainerVid {
    display: flex;
    flex-flow:row wrap; 
    justify-content: center;
}

.styleNav {
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: #018AE4;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px;
}
    
.styleNav:hover {
    background-color: #27a9ff;
}
    
.styleNav:active {
    color: rgb(215, 215, 215);
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.searchBox {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 5px; 
    margin: 15px;
}

.searchBox:focus {
    border: 2px solid black;
}

.centerText {
    text-align: center;
}

.inlineContainer {
    display: inline-block;
    line-height: 1;
}

.inlineContainerSumm {
    display: inline-block;
    margin: 10px 0px 5px 39px;
}

.inputBox {
    padding: 7px 7px 7px 7px;
    border: 1px solid black;
    border-radius: 5px; 
}

.greenButton {
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: #04b14c;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0px 0px 30px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.greenButton:hover {
    background-color: #04c755;
}

.greenButton:active {
    color: rgb(220, 220, 220);
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.generalLink {
    padding: 10px 10px 10px 10px;
    color: #000000;
    background-color: #09D4CD;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0px 10px 30px;
}

.generalLink:hover {
    background-color: #1bf5ee;
}

.generalLink:active {
    color: rgb(90, 90, 90);
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.generalLink:hover {
    background-color: #1bf5ee;
}

.sampleLink {
    padding: 10px 10px 10px 10px;
    color: #000000;
    background-color: #e2e205da;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0px 10px 7px;
}

.sampleLink:hover {
    background-color: #f2f21e;
}

.backtoLink {
    padding: 10px 10px 10px 10px;
    color: #000000;
    background-color: #09d47f;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 0px 0px 0px 30px;
}

.backtoLink:hover {
    background-color: #1bf59a;
}

.backtoLink:active {
    color: rgb(90, 90, 90);
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.14);
}

.scroll {
    height: 600px;
    width: 800px;
    overflow: auto;
    border: 1px solid #aaa;
    background-color: #eee;
    padding: 8px;
    margin-left:auto;
    margin-right:auto;
}

.feedbackBox {
    height: 70px;
    width: 40%;
    top: 0%;
    right: 0%;
    z-index: 10;
    border-radius: 7px;
    margin: 10px 30px 0px 30px;
    
}

.helpButton {
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 5px; 
    margin: 20px 0px 1px 30px;
    cursor: pointer;
}

.helpButton:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.helpButtonHeader {
    padding: 20px 0px 0px 30px;
}

.iframe { 
    width: 100%;
    display: flex;
    justify-content: center;
    border: 0px;
    width: 640px;
    height: 360px;
}

.containBulletList {
    text-align: center;
}

.styleBullets {
    display: inline-block;
    text-align: left;
}

.ulList {
    list-style-position: inside;
}

.edHeaderSpace {
    margin-top: 2cm;
}

.h2SectionColor {
    display: inline-block; 
    padding: 7px 7px 7px 7px;
    margin: 0px 0px 0px 15px;
    background-color: rgb(137, 222, 253);
}

.summaryHeading {
    display: inline-block; 
    padding: 7px 7px 7px 7px;
    margin: 0px 0px 0px 15px;
    background-color: rgb(137, 222, 253);
}

.exerciseHeading {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 15px;
    background-color: rgb(252, 255, 161);  
}

.small {
    font-size: small;
}

.footerDiv {
    background-color:blueviolet;
    text-align: center;
    margin-top: auto;
    padding: 40px;
    margin: 0;
}

.linkFooter {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
}

.linkFooter:hover {
    text-decoration: underline;
}

.linkFooter:active {
    color: rgb(214, 214, 214);
}

.footerGenCountry {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: rgb(195, 195, 195);
}

.footerGenCountry p {
    margin: 0px 0px 10px 10px;
    padding: 0px 0px 10px 0px;
}

.footerSpecCountry {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: white;
}

.footerSpecCountry p {
    margin: 0px 0px 10px 10px;
    padding: 0px 0px 10px 0px;
}

.footerSpecCountry p:hover {
    text-decoration: underline;
}

.footerFlag {
    display: inline-block;
}

.footerInline p {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 10px;
}

.footerInline:hover {
    text-decoration: underline;
}

.copyright {
    text-decoration: none;
    color: rgb(195, 195, 195);
    font-family: 'Inter', sans-serif;
}