body {
    margin: 0;
    padding: 0;
    background: linear-gradient(70deg, rgba(205, 205, 255, 0.6), rgb(255, 244, 223,0.6));
}

h2, h3, h4 {
    padding: 15px 0px 15px 30px;
    margin: 0px 0px 0px 0px;
}

p, input {
    margin: 10px 30px 5px 30px;
}

img {
    margin: 0px 0px 0px 15px;
}