body {
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    padding: 15px 0px 15px 30px;
    margin: 0px 0px 0px 0px;
}

p {
    margin: 10px 30px 5px 30px;
    line-height: 1.5;
}

img {
    margin: 0px 0px 0px 15px;
}

ul {
    margin: 15px 0px; 
    padding: 0px 0px 0px 30px; 
}